/* STARTER CODE */

* {
  box-sizing: border-box;
  border: 1px solid purple;
  font-family: sans-serif;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* NAVIGATION BAR */

nav, header {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(194, 207, 215);
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
}

ul {
  line-height: 1.5em;
  padding-left: 0;
}

/* HEADER */

h1 {
  font-family: "Raleway";
}

/* MAIN SECTION */

main {
  padding-left: 10em;
  padding-right: 10em;
}

h1, h2, h3, footer a {
  color: rgb(69, 84, 94);
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

section {
  /*width: 60%;*/
}

p {
  color: rgb(185, 191, 194);
}

/* ASIDE */

aside {
  width: 30%;
}

ul {
  padding-left: 2em;
}

/* FOOTER */

footer {
  background-color: rgb(206, 243, 246);
  text-align: center;
}

footer nav {
  padding-bottom: 2em;
}
