/* STARTER CODE */

* {
  box-sizing: border-box;
  border: 1px solid purple;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* NAVIGATION BAR */

nav, header {
  text-align: center;
}



a {
  text-decoration: none;
}

ul {
  line-height: 1.5em;
  padding-left: 0;
}

li {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
}

/* MAIN SECTION */

main {
  padding:0 2em;
}

img {
  max-width: 100%;
}

section {
  width: 60%;
}

aside {
  width: 30%;
}
