/* STARTER CODE */

* {
  box-sizing: border-box;
  border: 1px solid purple;
  font-family: sans-serif;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* NAVIGATION BAR */

nav, header {
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
}

ul {
  line-height: 1.5em;
  padding-left: 0;
}

/* HEADER */


/* MAIN SECTION */

main {
  padding-left: 10em;
  padding-right: 10em;
}

img {
  max-width: 100%;
}

section {
  /*width: 60%;*/
}

/* ASIDE */

aside {
  width: 30%;
}

ul {
  padding-left: 2em;
}

/* FOOTER */

footer {
  text-align: center;
}

