/* STARTER CODE */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
  font-family: sans-serif;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR */

nav, header {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(194, 207, 215);
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: 0 5em;
}

ul {
  color: rgb(194, 207, 215);
  line-height: 1.5em;
}

/* HEADER */

header {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 95%;
}

h1 {
  font-family: sans-serif;
  letter-spacing: 0.5em;
  font-size: 3.5em;
  margin: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MAIN SECTION */

main {
  margin: 3em auto;
  width: 80%;
  position: flex;
  flex-direction: row;
}

h2, h3, footer a {
  color: rgb(69, 84, 94);
  text-transform: uppercase;
}

section {
  width: 60%;
  float: left;
}

img {
  max-width: 100%;
}

/* ASIDE */

aside {
  width: 35%;
  float: right;
  padding-left: 1em;
}

/* FOOTER */

footer {
  display: block;
  background-color: rgb(206, 243, 246);
  margin: 0 auto;
  padding-bottom: 1em;
  width: 95%;
}

i {
  font-size: 2em;
}

button {
  background-color: rgb(206, 243, 246);
  border: 0.2em rgb(69, 84, 94) solid;
  height: 3em;
  width: 15%;
}

div {
  padding: 1em;
  border-bottom: 0.1em solid #45545e;
  font-size: 2em;
}

i {
  padding-right: 1em;
  padding-top: 1em;
}

input {
  padding-right: 1em;
  margin: 1em;
  text-align: center;
  height: 3em;
  width: 30%;
}

span {
  color: rgb(69, 84, 94);
  display: block;
  padding-top: 2em;
}


















