/* STARTER CODE */

* {
  box-sizing: border-box;
  border: 1px solid purple;
  font-family: sans-serif;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* NAVIGATION BAR */

nav, header {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(194, 207, 215);
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
}

ul {
  color: rgb(194, 207, 215);
  line-height: 1.5em;
}

/* HEADER */

header {
  position: relative;
  text-align: center;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
}

h1 {
  font-family: sans-serif;
  letter-spacing: 7px;
  font-size: 3.5em;
  margin: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MAIN SECTION */

main {
  position: relative;
  padding-left: 5em;
  padding-right: 5em;
  width: 100%;
}

h2, h3, footer a {
  color: rgb(69, 84, 94);
  text-transform: uppercase;
}

section {
  width: 60%;
  float: left;
}

img {
  max-width: 100%;
}

/* ASIDE */

aside {
  width: 35%;
  float: right;
  padding-left: 1em;
}

/* FOOTER */

footer {
  display: block;
  background-color: rgb(206, 243, 246);
  text-align: center;
  padding-bottom: 1em;
  width: 100%;
  /*bottom: 0;*/
}

footer nav {
  padding-bottom: 1em;
  font-weight: bold;
}

span {
  color: rgb(69, 84, 94);;
}


















